body {

    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
}

.preheader {
    background: linear-gradient(90deg, #EEE7DA 21.6%, #C8B5A9 80.21%);
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preheader p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin: 0px;
}

.header {
    height: 40px;
    background: #343F24;
    display: flex;
    align-items: center;
}

.header .nice-select {
    background: transparent;
    color: #fff;
    border: 0;
    font-weight: 400;
    font-size: 18px;
}

.nice-select:after {
    background: url("../img/angle-down.svg");
    border: 0;
    width: 14px;
    height: 8px;
    transform: rotate(0);
}

.nice-select.open:after {
    transform: rotate(-180deg);
}

.header .nice-select .option {
    color: #000;
}

.header a {
    color: #fff;
}

.map {
    font-weight: 400;
    font-size: 18px;
}

.map img {
    margin-right: 6px;
}

.after_header {
    height: 86px;
    display: flex;
    align-items: center;
}

.secondary_menu {}

.secondary_menu li {
    margin: 0 20px
}

.secondary_menu li:first-child {
    margin-left: 0;
}

.secondary_menu li:last-child {
    margin-right: 0;
}

.secondary_menu li a {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #343F24;
    transition: all .5s ease;
}

.secondary_menu li a:hover {
    color: #D72848;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search_box {
    border-bottom: 0.5px solid #BDBDBD;
    max-width: 259px;
}

.search_box input {
    border: none;
    outline: none;
}

.favorite,
.cart {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    color: #343F24;
    align-items: center;
}

.favorite {
    margin-left: auto;
    margin-right: 33px;
}

.favorite img {
    width: 22px;
    height: 20px;
}

.favorite img,
.cart img {
    margin-right: 9px;
}

.main_menu_section {
    border-top: 2px solid #F9EDED;
    border-bottom: 2px solid #F9EDED;
    height: 73px;
    display: flex;
    align-items: center;
}

.main_menu_section .row {}

.main_menu {
    align-items: center;
    justify-content: space-between;
}

.main_menu li a {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #343F24;
    transition: all .5s ease;
}

.main_menu li a:hover {
    color: #D72848;
}

.slick-list.draggable {
    overflow-x: hidden;
}

.section_01 {
    margin-bottom: 60px;
}

.main_slider .navs_slide {
    position: absolute;
    top: 40%;
    font-size: 50px;
    color: #fff;
    z-index: 1;
}

.main_slider .next {
    right: 20px;
}

.main_slider .prev {
    left: 20px;
}

h2 {
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    color: #343F24;
    margin-bottom: 40px;
}

.product {
    border: 0.592754px solid #F9EDED;
    padding: 14px;
    max-width: 320px;
    width: 100%;
}

.image_box {
    max-width: 291.63px;
    width: 100%;
    height: 214.6px;
    background: #FFF8F8;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_box .prod_label {
    width: 59px;
    height: 27px;
    position: absolute;
    background: #343F24;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
    color: #fff;
    top: 18.5px;
    left: 0;
}

.prod_label__discount {
    width: 59px;
    height: 27px;
    position: absolute;
    background: #D72848;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
    color: #fff;
    top: 18.5px;
    left: 0;
}

.prod_label__discount.second {
    top: 53px;
}

.prod_image {
    object-fit: contain;
}

.add_to__favorite {
    position: absolute;
    right: 13.4px;
    top: 13.4px;
}

.prod_info_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_rating {
    margin-top: 11px;
}

.nav_rating li {
    margin: 0 2px;
}

.nav_rating li:first-child {
    margin-left: 0;
}

.nav_rating li:last-child {
    margin-right: 0;
}

.comments {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}

.product h3 a {
    font-weight: 600;
    font-size: 18px;
    color: #343F24;
    line-height: 140%;
    margin-top: 12px;
}

.prod_category {
    font-weight: 400;
    font-size: 16px;
    line-height: 160.19%;
    color: #BDBDBD;
}

.price {
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    color: #343F24;
    margin-top: 15px;
}

.product:hover .by_btn {
    transform: scale(1);
    height: 51px;
}

.by_btn {
    margin-top: 14px;
    gap: 6px;
    max-width: 292px;
    width: 100%;
    height: 0;
    background: #343F24;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all .5s ease;
    transform: scale(0);
}

.old_price {
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    text-decoration-line: line-through;
    color: #828282;
    margin-right: 20px;
}

.by_btn:hover {
    color: #fff;
    background: #4c5f30;
}

.categories_slider__section {
    padding-top: 41px;
    padding-bottom: 43px;
    background: rgba(249, 237, 237, 0.2);
    margin-top: 55px;
    margin-bottom: 40px;
}

.categories_slider {
    display: flex;
    width: 100%;
}

.categories_slider .slide {
    max-width: 250px;
    width: 100% !important;
    height: 173px;
    background: #F9EDED;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 18px;
    padding: 20px;

}

.icon_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: rgba(102, 131, 59, 0.06);
    border-radius: 50%;
    text-align: center;
}

.slide p {
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.discount_section {
    margin-bottom: 60px;
}

.brand_section {}

.col_brand {
    max-width: 20%;
    width: 100%;
    padding: 0 !important;
    flex-basis: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 198px;
    border: 0.606838px solid #FFBBBB;
}

.brand_more {
    font-weight: 400;
    font-size: 29.6296px;
    line-height: 40px;
    text-decoration-line: underline;

    /* Text color/ black */

    color: #1F1F1F;
}

.content_section {
    margin-top: 144px;
    line-height: 33px;
    color: #000000;
    margin-bottom: ;
}

.more_content {
    max-width: 173px;
    width: 100%;
    height: 42px;
    border: 1px solid #343F24;
    border-radius: 3px;
    font-weight: 400;
    font-size: 16px;
    color: #343F24;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
}

.more_content:hover {
    color: #343F24;
}

.more_content span {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #343F24;
    border-radius: 50%;
    margin-right: 10px;
}

.social_section {
    margin-top: 64px;
    background: rgba(249, 237, 237, 0.2);
    padding-top: 56px;
    padding-bottom: 49px;
}

.social_section .col-lg-4 {
    background: #FDFFFC;
    border: 1px solid #FFBBBB;
    display: flex;
    justify-content: center;
    height: 269px;
    flex-wrap: wrap;
}

.social_section .img_box {
    width: 80px;
    height: 80px;
    margin-top: 58px;
}

.social_box__title {
    font-weight: 700;
    font-size: 26.7931px;
    color: #343F24;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 136.87%;
}

.social_box__desc {
    font-weight: 400;
    font-size: 21px;
    line-height: 136.87%;
    color: #BDBDBD;
    margin-top: -20px;
}

.social_section .col-lg-4:nth-child(2) {
    border-radius: 20px 0 0 20px;
}

.social_section .col-lg-4:last-child {
    border-radius: 0 20px 20px 0;
}

.form_section {
    background: #F9EDED;
}

.stamp {
    position: absolute;
    top: -90px;
    right: -90px;
}

.form_desc {
    font-weight: 400;
    font-size: 21px;
    line-height: 136.87%;
    color: #343F24;
}

.form_section form {
    display: flex;
    margin-top: 53px;
}

.form_section form input {
    max-width: 415.03px;
    width: 100%;
    height: 64px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #343F24;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 24px;
}

.form_btn {
    max-width: 320.62px;
    width: 100%;
    height: 64px;
    left: 1119.38px;
    top: 424px;
    background: #343F24;
    border: 1px solid #343F24;
    border-radius: 3px;
    font-weight: 400;
    font-size: 21px;
    line-height: 139.37%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.form_btn:hover {
    color: #fff;
    background: #41502c;
}

.footer {
    padding-top: 51px;
    background: #343F24;
    padding-bottom: 20px;
}

.footer h5 {
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FDFFFC;
}

.footer ul {
    padding-left: 0;
    list-style: none;
}

.footer ul li {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.footer ul li a:nth-child(3) {
    margin-left: 33px;
}

.footer ul li i {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    ;
}

.footer ul li:nth-child(2) {
    flex-wrap: wrap;
}

.footer ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FDFFFC;
    display: block;
    margin-left: 13px;
}

.nav.footer_social {
    justify-content: center;
    width: 100%;
    position: relative;
}

.footer .footer_social li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

.footer .footer_social li:first-child {
    margin-left: 0;
}

.footer .footer_social li:last-child {
    margin-right: 0;
}

.footer .footer_social li a {
    margin-left: auto;
    margin-right: auto;
}

.footer hr {
    width: 100%;
    height: 1px;
    margin-top: 39px;
    background: #46582B;
}

.copyright {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #828282;
}

.footer__copyright {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #828282;
}

.last__footer {
    margin-left: auto;
    justify-content: flex-end;
}

.last__footer li {
    margin-right: 20px;
}

.last__footer li:last-child {
    margin-right: 0;
}

.search_mobile,
.logo_mobile,
.favorite_mobile,
.cart_mobile {
    display: none;
}

.burger {
    width: 20px;
    height: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 100;
}

.burger span {
    width: 20px;
    height: 2px;
    background: #fff;
    display: flex;
    position: absolute;
    border-radius: 10px;
}

.burger span:first-child {
    top: 5px;
}

.burger span:nth-child(2) {
    top: 11px;
}

.burger span:last-child {
    top: 17px;
}

.burger span {
    transition: all 0.5s ease;
}

.burger.active span:first-child {
    width: 0;
}

.burger.active span:nth-child(2) {
    transform: rotate(45deg);
}

.burger.active span:last-child {
    top: 11px;
    transform: rotate(-45deg);
}

.new_prod__slider .slick-track {
    display: flex;
    justify-content: center;
}

.show_more__mobile {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #343F24;
    border: 0.722067px solid #343F24;
    border-radius: 2.1662px;
    width: 172px;
    height: 39px;
    display: none;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;

}

.brand_text {
    display: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
}

.main_menu__mobile {
    display: none;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 90;
    transition: all .5s ease;
    opacity: 0;
    visibility: hidden;
}

#overlay.active {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 991px) {
    main.content .container-fluid:first-child {
        /* display: none; */
    }

    .categories_slider {
        display: block;
    }

    .header {
        position: sticky;
        top: 0;
        z-index: 1000;
        margin: 0;
    }

    .prod_image {
        max-width: 100px;
    }

    .prod_category {
        font-size: 10px;
    }

    .price {
        font-weight: 700;
        font-size: 14px;
    }

    .product h3 {
        font-weight: 600;
        font-size: 10px;
    }

    h2 {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }

    .main_menu__mobile {
        position: fixed;
        right: 0;
        top: 0;
        display: block;
        width: 0;
        z-index: 100;
        background: #fff;
        height: 100%;
        transition: width .5s ease;
    }

    .main_menu__mobile li:first-child {
        margin-top: 50px;
    }

    .main_menu__mobile li {
        margin-left: 40px;
    }

    .main_menu__mobile.active {
        width: 80%;
    }

    .main_menu__mobile li {
        margin-bottom: 15px;
    }

    .main_menu__mobile li a {
        color: #343F24;
    }

    .last__footer {
        justify-content: center;
        margin-top: 18px;
    }

    .footer ul li i {
        margin: 7px 0;
    }

    .footer ul li a {
        margin-left: 0;
        width: 100%;
    }

    .footer h5 {
        margin-top: 26px;
    }

    .footer ul li {
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer {
        text-align: center;
    }

    .form_btn {
        margin-top: 15px;
        margin-left: 0;
        margin-bottom: 25px;
    }

    .form_section form {
        flex-wrap: wrap;
        justify-content: center;
    }

    .form_title,
    .form_desc {
        text-align: center;
    }

    .form_title {
        margin-top: 15px;
    }

    .form_desc {
        font-size: 12px;
    }

    .stamp {
        filter: brightness(8);
        top: -760px;
        right: -10px;
    }

    .social_section .col-lg-4:nth-child(2) {
        border-radius: 20px 20px 0 0;
    }

    .social_section .col-lg-4:last-child {
        border-radius: 0 0 20px 20px;
    }

    .more_content {
        margin-left: auto;
        margin-right: auto;
    }

    .col_brand {
        max-width: 33.33333%;
    }

    .col_brand:nth-child(9) {
        display: none;
    }

    .brand_text {
        display: block;
    }

    .discount_slider .by_btn {
        transform: scale(1);
        height: 51px;
    }


    .categories_slider .slide {
        height: 52px;
        flex-wrap: nowrap;
        max-width: 100%;
        justify-content: flex-start;
        padding: 5px 13px;
        margin-bottom: 4px;
    }

    .slide p {
        justify-content: flex-start;
        font-weight: 600;
        font-size: 14px;
        margin: 0;
    }

    .icon_box {
        height: 42px;
        width: 42px;
        margin-right: 12px;
    }

    .icon_box img {
        width: 26px;
    }

    .show_more__mobile {
        display: flex;
    }

    .after_header,
    .main_menu_section {
        display: none;
    }

    .header .col-lg-6.col-md-12 {
        justify-content: space-between !important;
    }


    .nice-select,
    .cabinet {
        display: none;
    }

    .burger {
        display: flex;
    }

    .phone_box {
        display: none !important;
    }

    .search_mobile,
    .favorite_mobile,
    .cart_mobile {
        display: block;
    }

    .logo_mobile {
        display: flex;
        align-items: flex-start;
    }

    .content_section h3 {
        font-size: 16px;

    }

    .content_section p {
        font-size: 10px;
    }

    .content_section ul,
    .content_section ol {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .stamp {
        top: -570px;
    }
}

@media (max-width: 475px) {
    .stamp {
        top: -470px;
        width: 180px;
    }
}