body {
    font-family: 'Open Sans';
}
h1,h2,h3,h4,h5,p {
    margin-bottom: 0;
}
a:hover {
    text-decoration: none;
}
.preheader {
    background: linear-gradient(90deg, #EEE7DA 21.6%, #C8B5A9 80.21%);
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preheader p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin: 0px;
}
.header {
    height: 40px;
    background: #343F24;
    display: flex;
    align-items: center;
}
.header .nice-select {
    background: transparent;
    color: #fff;
    border: 0;
    font-weight: 400;
    font-size: 18px;
}

.nice-select:after {
    background: url("../img/angle-down.svg");
    border:0;
    width: 14px;
    height: 8px;
    transform: rotate(0);
}
.nice-select.open:after {
    transform: rotate(-180deg);
}
.header .nice-select .option {
    color: #000;
}
.header a {
    color: #fff;
}
.map {
    font-weight: 400;
    font-size: 18px;
}
.map img {
    margin-right: 6px;
}
.after_header {
    height: 86px;
    display: flex;
    align-items: center;
}
.secondary_menu {

}
.secondary_menu li {
    margin: 0 20px
}
.secondary_menu li:first-child {
    margin-left: 0;
}
.secondary_menu li:last-child {
    margin-right: 0;
}
.secondary_menu li a {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #343F24;
    transition: all .5s ease;
}
.secondary_menu li a:hover {
    color: #D72848;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.search_box {
    border-bottom: 0.5px solid #BDBDBD;
    max-width: 259px;
}
.search_box input {
    border:none;
    outline: none;
}
.favorite, .cart {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    color: #343F24;
    align-items: center;
}
.favorite {
    margin-left: auto;
    margin-right: 33px;
}
.favorite img {
    width: 22px;
    height: 20px;
}
.favorite img, .cart img {
    margin-right: 9px;
}
.main_menu_section {
    border-top: 2px solid #F9EDED;
    border-bottom: 2px solid #F9EDED;
    height: 73px;
    display: flex;
    align-items: center;
}
.main_menu_section .row {

}
.main_menu {
align-items: center;
    justify-content: space-between;
}
.main_menu li a {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #343F24;
    transition: all .5s ease;
}
.main_menu li a:hover {
    color: #D72848;
}
.slick-list.draggable {
    overflow-x: hidden;
}
.main_slider .navs_slide {
    position: absolute;
    top: 40%;
    font-size: 50px;
    color: #fff;
    z-index: 1;
}
.main_slider .next {
    right:20px;
}
.main_slider .prev {
    left: 20px;
}
h2 {
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    color: #343F24;
}
